emergency-journal/
├── docs/
│   └── technical_specification.md      # ТЗ по варианту 8
├── monitoring/
│   ├── vagrant/
│   ├── ansible/
│   ├── zabbix_dashboard.json
│   └── README_monitoring.md
├── app/
│   ├── backend/
│   ├── frontend/
│   └── database/
└── README.md
